
<div style="display:none" class="jsdoc-permalink">/api/1.8/dojox/layout/dnd/Avatar</div>
<h1 class="constructorIcon36 jsdoc-title">dojox/layout/dnd/Avatar<span style="font-size:11px;color:#999;"> (version 1.8)</span></h1>
<div class="jsdoc-mixins">
  <label>Extends </label><a href="/api/1.8/dojo/dnd/Avatar" class="jsdoc-link">dojo/dnd/Avatar,   </a>
</div>
<div class="jsdoc-full-summary"><p>An Object, which represents the object being moved in a GridContainer</p>
</div>
<div class="jsdoc-function-information"> 
  <h3>Usage:</h3>
  <div class="function-signature"><span class="keyword">var</span> foo = new dojox/layout/dnd/Avatar<span class="parameters">(manager,opacity);</span></div>
</div>
<div class="jsdoc-inheritance">Defined by <a class="jsdoc-link" href="/api/1.8/dojox/layout/dnd/Avatar">dojox/layout/dnd/Avatar</a></div>
<table class="jsdoc-parameters">
  <tr>
    <th>Parameter</th>
    <th>Type</th>
    <th>Description</th>
  </tr>
  <tr>
    <td class="jsdoc-param-name">manager</td>
    <td class="jsdoc-param-type">undefined</td>
    <td class="jsdoc-param-description">
    </td>
  </tr>
  <tr>
    <td class="jsdoc-param-name">opacity</td>
    <td class="jsdoc-param-type">undefined</td>
    <td class="jsdoc-param-description">
    </td>
  </tr>
</table>
<div class="jsdoc-children">
  <div class="jsdoc-fieldlist"></div>
</div>
<h2 class="jsdoc-summary-heading">Property Summary<span class="jsdoc-summary-toggle"></span></h2>
<div class="jsdoc-summary-list">
  <ul class="jsdoc-property-list">
    <li class="objectIcon inherited"><a href="#1_8dojox_layout_dnd_Avatar_manager" class="inline-link"> manager </a><span>a DnD manager object</span><span title="inherited from dojo/dnd/Avatar" class="jsdoc-inherited"></span>
    </li>
  </ul>
</div>
<h2 class="jsdoc-summary-heading">Method Summary<span class="jsdoc-summary-toggle"></span></h2>
<div class="jsdoc-summary-list">
  <ul class="jsdoc-property-list">
    <li class="functionIcon private"><a href="#1_8dojox_layout_dnd_Avatar__generateText" class="inline-link"> _generateText</a><span class="parameters">(</span>) <span></span><span title="private" class="jsdoc-private"> </span>
    </li>
    <li class="functionIcon "><a href="#1_8dojox_layout_dnd_Avatar_construct" class="inline-link"> construct</a><span class="parameters">(</span>) <span>A constructor function. it is separate so it can be (dynamically)
overwritten in case of need.</span>
    </li>
    <li class="functionIcon "><a href="#1_8dojox_layout_dnd_Avatar_constructor" class="inline-link"> constructor</a><span class="parameters">(</span>manager, opacity) <span></span>
    </li>
    <li class="functionIcon  inherited"><a href="#1_8dojox_layout_dnd_Avatar_destroy" class="inline-link"> destroy</a><span class="parameters">(</span>) <span>destructor for the avatar; called to remove all references so it can be garbage-collected</span><span title="inherited from dojo/dnd/Avatar" class="jsdoc-inherited"></span>
    </li>
    <li class="functionIcon "><a href="#1_8dojox_layout_dnd_Avatar_update" class="inline-link"> update</a><span class="parameters">(</span>) <span>Updates the avatar to reflect the current DnD state.</span>
    </li>
  </ul>
</div>
<div class="jsdoc-children">
  <div class="jsdoc-fields">
    <h2>Properties</h2>
    <div class="jsdoc-property-list">
      <div class="jsdoc-field public">
        <div class="jsdoc-title"><a name="1_8dojox_layout_dnd_Avatar_manager"></a><span class="objectIcon">manager</span>
        </div>
        <div class="jsdoc-inheritance">Defined by: <a href="/api/1.8/dojo/dnd/Avatar" class="jsdoc-link">dojo/dnd/Avatar</a><span title="inherited" class="jsdoc-inherited"></span>
        </div>
        <div class="jsdoc-summary"><p>a DnD manager object</p>
</div>
      </div>
    </div>
    <h2>Methods</h2>
    <div class="jsdoc-property-list">
      <div class="jsdoc-field private">
        <div class="jsdoc-title"><a name="1_8dojox_layout_dnd_Avatar__generateText"></a><span class="functionIcon">_generateText</span><span class="parameters">()</span> <span title="private" class="jsdoc-private"> </span>
        </div>
        <div class="jsdoc-inheritance TODO">Defined by <a href="/api/1.8/dojox/layout/dnd/Avatar" class="jsdoc-link">dojox/layout/dnd/Avatar</a>
        </div>
        <div class="jsdoc-full-summary"></div>
      </div>
      <div class="jsdoc-field">
        <div class="jsdoc-title"><a name="1_8dojox_layout_dnd_Avatar_construct"></a><span class="functionIcon">construct</span><span class="parameters">()</span> 
        </div>
        <div class="jsdoc-inheritance TODO">Defined by <a href="/api/1.8/dojox/layout/dnd/Avatar" class="jsdoc-link">dojox/layout/dnd/Avatar</a>
        </div>
        <div class="jsdoc-full-summary"><p>A constructor function. it is separate so it can be (dynamically)
overwritten in case of need.</p>
</div>
      </div>
      <div class="jsdoc-field">
        <div class="jsdoc-title"><a name="1_8dojox_layout_dnd_Avatar_constructor"></a><span class="functionIcon">constructor</span><span class="parameters">(manager, opacity)</span> 
        </div>
        <div class="jsdoc-inheritance TODO">Defined by <a href="/api/1.8/dojox/layout/dnd/Avatar" class="jsdoc-link">dojox/layout/dnd/Avatar</a>
        </div>
        <div class="jsdoc-full-summary"></div>
        <table class="jsdoc-parameters">
          <tr>
            <th>Parameter</th>
            <th>Type</th>
            <th>Description</th>
          </tr>
          <tr>
            <td class="jsdoc-param-name">manager</td>
            <td class="jsdoc-param-type">undefined</td>
            <td class="jsdoc-param-description">
            </td>
          </tr>
          <tr>
            <td class="jsdoc-param-name">opacity</td>
            <td class="jsdoc-param-type">undefined</td>
            <td class="jsdoc-param-description">
            </td>
          </tr>
        </table>
      </div>
      <div class="jsdoc-field inherited">
        <div class="jsdoc-title"><a name="1_8dojox_layout_dnd_Avatar_destroy"></a><span class="functionIcon">destroy</span><span class="parameters">()</span> 
        </div>
        <div class="jsdoc-inheritance TODO">Defined by <a href="/api/1.8/dojo/dnd/Avatar" class="jsdoc-link">dojo/dnd/Avatar</a><span title="inherited" class="jsdoc-inherited"></span>
        </div>
        <div class="jsdoc-full-summary"><p>destructor for the avatar; called to remove all references so it can be garbage-collected</p>
</div>
      </div>
      <div class="jsdoc-field">
        <div class="jsdoc-title"><a name="1_8dojox_layout_dnd_Avatar_update"></a><span class="functionIcon">update</span><span class="parameters">()</span> 
        </div>
        <div class="jsdoc-inheritance TODO">Defined by <a href="/api/1.8/dojox/layout/dnd/Avatar" class="jsdoc-link">dojox/layout/dnd/Avatar</a>
        </div>
        <div class="jsdoc-full-summary"><p>Updates the avatar to reflect the current DnD state.</p>
</div>
      </div>
    </div>
  </div>
</div>