
<div style="display:none" class="jsdoc-permalink">/api/1.8/dojox/layout/TableContainer.ChildWidgetProperties</div>
<h1 class="objectIcon36 jsdoc-title">dojox/layout/TableContainer.ChildWidgetProperties<span style="font-size:11px;color:#999;"> (version 1.8)</span></h1>
<div class="jsdoc-full-summary"><p>Properties to be set on children of TableContainer</p>
</div>
<p>See the <a href="/reference-guide/1.8/dojox/layout.html" target="_blank">dojox/layout/TableContainer.ChildWidgetProperties reference documentation</a> for more information.</p>
<div class="jsdoc-children">
  <div class="jsdoc-fieldlist"></div>
</div>
<h2 class="jsdoc-summary-heading">Property Summary<span class="jsdoc-summary-toggle"></span></h2>
<div class="jsdoc-summary-list">
  <ul class="jsdoc-property-list">
    <li class="numberIcon inherited"><a href="#1_8dojox_layout_TableContainer_ChildWidgetProperties_colspan" class="inline-link"> colspan </a><span>The number of columns this widget should span.</span><span title="inherited from dojox/layout/TableContainer" class="jsdoc-inherited"></span>
    </li>
    <li class="stringIcon inherited"><a href="#1_8dojox_layout_TableContainer_ChildWidgetProperties_label" class="inline-link"> label </a><span>The label to display for a given widget</span><span title="inherited from dojox/layout/TableContainer" class="jsdoc-inherited"></span>
    </li>
    <li class="booleanIcon inherited"><a href="#1_8dojox_layout_TableContainer_ChildWidgetProperties_spanLabel" class="inline-link"> spanLabel </a><span>Setting spanLabel to true makes the widget take up both the
label and value cells.</span><span title="inherited from dojox/layout/TableContainer" class="jsdoc-inherited"></span>
    </li>
    <li class="stringIcon inherited"><a href="#1_8dojox_layout_TableContainer_ChildWidgetProperties_title" class="inline-link"> title </a><span>The label to display for a given widget.</span><span title="inherited from dojox/layout/TableContainer" class="jsdoc-inherited"></span>
    </li>
  </ul>
</div>
<div class="jsdoc-children">
  <div class="jsdoc-fields">
    <h2>Properties</h2>
    <div class="jsdoc-property-list">
      <div class="jsdoc-field public">
        <div class="jsdoc-title"><a name="1_8dojox_layout_TableContainer_ChildWidgetProperties_colspan"></a><span class="numberIcon">colspan</span>
        </div>
        <div class="jsdoc-inheritance">Defined by: <a href="/api/1.8/dojox/layout/TableContainer" class="jsdoc-link">dojox/layout/TableContainer</a><span title="inherited" class="jsdoc-inherited"></span>
        </div>
        <div class="jsdoc-summary"><p>The number of columns this widget should span.</p>
</div>
      </div>
      <div class="jsdoc-field public">
        <div class="jsdoc-title"><a name="1_8dojox_layout_TableContainer_ChildWidgetProperties_label"></a><span class="stringIcon">label</span>
        </div>
        <div class="jsdoc-inheritance">Defined by: <a href="/api/1.8/dojox/layout/TableContainer" class="jsdoc-link">dojox/layout/TableContainer</a><span title="inherited" class="jsdoc-inherited"></span>
        </div>
        <div class="jsdoc-summary"><p>The label to display for a given widget</p>
</div>
      </div>
      <div class="jsdoc-field public">
        <div class="jsdoc-title"><a name="1_8dojox_layout_TableContainer_ChildWidgetProperties_spanLabel"></a><span class="booleanIcon">spanLabel</span>
        </div>
        <div class="jsdoc-inheritance">Defined by: <a href="/api/1.8/dojox/layout/TableContainer" class="jsdoc-link">dojox/layout/TableContainer</a><span title="inherited" class="jsdoc-inherited"></span>
        </div>
        <div class="jsdoc-summary"><p>Setting spanLabel to true makes the widget take up both the
label and value cells. Defaults to false.</p>
</div>
      </div>
      <div class="jsdoc-field public">
        <div class="jsdoc-title"><a name="1_8dojox_layout_TableContainer_ChildWidgetProperties_title"></a><span class="stringIcon">title</span>
        </div>
        <div class="jsdoc-inheritance">Defined by: <a href="/api/1.8/dojox/layout/TableContainer" class="jsdoc-link">dojox/layout/TableContainer</a><span title="inherited" class="jsdoc-inherited"></span>
        </div>
        <div class="jsdoc-summary"><p>The label to display for a given widget.  This is interchangeable
with the &#39;label&#39; parameter, as some widgets already have a use
for the &#39;label&#39;, and this can be used instead to avoid conflicts.</p>
</div>
      </div>
    </div>
  </div>
</div>