
<div style="display:none" class="jsdoc-permalink">/api/1.8/dojox/layout/ToggleSplitter</div>
<h1 class="constructorIcon36 jsdoc-title">dojox/layout/ToggleSplitter<span style="font-size:11px;color:#999;"> (version 1.8)</span></h1>
<div class="jsdoc-full-summary"><p>A draggable and clickable spacer between two items in a <code>dijit.layout.BorderContainer</code>.</p>
</div>
<div class="jsdoc-full-summary"><p>This is instantiated by <code>dijit.layout.BorderContainer</code>. Users should not
create it directly.</p>
</div>
<p>See the <a href="/reference-guide/1.8/dojox/layout/ToggleSplitter.html" target="_blank">dojox/layout/ToggleSplitter reference documentation</a> for more information.</p>
<div class="jsdoc-children">
  <div class="jsdoc-fieldlist"></div>
</div>
<h2 class="jsdoc-summary-heading">Property Summary<span class="jsdoc-summary-toggle"></span></h2>
<div class="jsdoc-summary-list">
  <ul class="jsdoc-property-list">
    <li class="stringIcon private"><a href="#1_8dojox_layout_ToggleSplitter__closedSize" class="inline-link"> _closedSize </a><span>the css height/width value to apply by default when the attached pane is closed</span><span title="private" class="jsdoc-private"></span>
    </li>
    <li class="stringIcon"><a href="#1_8dojox_layout_ToggleSplitter_baseClass" class="inline-link"> baseClass </a><span></span>
    </li>
    <li class="objectIcon"><a href="#1_8dojox_layout_ToggleSplitter_child" class="inline-link"> child </a><span>Pointer to the pane associated with this splitter</span>
    </li>
    <li class="objectIcon"><a href="#1_8dojox_layout_ToggleSplitter_container" class="inline-link"> container </a><span>Pointer to the parent BorderContainer</span>
    </li>
    <li class="stringIcon"><a href="#1_8dojox_layout_ToggleSplitter_region" class="inline-link"> region </a><span>Region of pane associated with this splitter.
&quot;top&quot;, &quot;bottom&quot;, &quot;left&quot;, &quot;right&quot;.</span>
    </li>
    <li class="stringIcon"><a href="#1_8dojox_layout_ToggleSplitter_state" class="inline-link"> state </a><span>the initial and current state of the splitter (and its attached pane)
It has three values: full, collapsed (optional), closed</span>
    </li>
    <li class="stringIcon"><a href="#1_8dojox_layout_ToggleSplitter_templateString" class="inline-link"> templateString </a><span></span>
    </li>
  </ul>
</div>
<h2 class="jsdoc-summary-heading">Method Summary<span class="jsdoc-summary-toggle"></span></h2>
<div class="jsdoc-summary-list">
  <ul class="jsdoc-property-list">
    <li class="functionIcon private"><a href="#1_8dojox_layout_ToggleSplitter__getStyleProps" class="inline-link"> _getStyleProps</a><span class="parameters">(</span>paneNode, state, paneStyle) <span>Create an object with the style property name: values
that will need to be applied to the child pane render the given state</span><span title="private" class="jsdoc-private"> </span>
    </li>
    <li class="functionIcon private"><a href="#1_8dojox_layout_ToggleSplitter__handleOnChange" class="inline-link"> _handleOnChange</a><span class="parameters">(</span>preState) <span>Effect the state change with the new value of this.state</span><span title="private" class="jsdoc-private"> </span>
    </li>
    <li class="functionIcon private"><a href="#1_8dojox_layout_ToggleSplitter__setStateAttr" class="inline-link"> _setStateAttr</a><span class="parameters">(</span>state) <span>setter for the state property</span><span title="private" class="jsdoc-private"> </span>
    </li>
    <li class="functionIcon private"><a href="#1_8dojox_layout_ToggleSplitter__setStateClass" class="inline-link"> _setStateClass</a><span class="parameters">(</span>) <span>Apply the appropriate classes for the current open state</span><span title="private" class="jsdoc-private"> </span>
    </li>
    <li class="functionIcon private"><a href="#1_8dojox_layout_ToggleSplitter__startDrag" class="inline-link"> _startDrag</a><span class="parameters">(</span>e) <span></span><span title="private" class="jsdoc-private"> </span>
    </li>
    <li class="functionIcon private"><a href="#1_8dojox_layout_ToggleSplitter__stopDrag" class="inline-link"> _stopDrag</a><span class="parameters">(</span>e) <span></span><span title="private" class="jsdoc-private"> </span>
    </li>
    <li class="functionIcon private"><a href="#1_8dojox_layout_ToggleSplitter__toggle" class="inline-link"> _toggle</a><span class="parameters">(</span>evt) <span></span><span title="private" class="jsdoc-private"> </span>
    </li>
    <li class="functionIcon "><a href="#1_8dojox_layout_ToggleSplitter_postCreate" class="inline-link"> postCreate</a><span class="parameters">(</span>) <span></span>
    </li>
    <li class="functionIcon "><a href="#1_8dojox_layout_ToggleSplitter_startup" class="inline-link"> startup</a><span class="parameters">(</span>) <span></span>
    </li>
  </ul>
</div>
<h2 class="jsdoc-summary-heading">Event Summary<span class="jsdoc-summary-toggle"></span></h2>
<div class="jsdoc-summary-list">
  <ul class="jsdoc-property-list">
    <li class="functionIcon private"><a href="#1_8dojox_layout_ToggleSplitter__onKeyPress" class="inline-link"> _onKeyPress</a><span class="parameters">(</span>evt) <span></span><span title="TODO" class="jsdoc-extension"></span>
    </li>
    <li class="functionIcon private"><a href="#1_8dojox_layout_ToggleSplitter__onToggleNodeMouseDown" class="inline-link"> _onToggleNodeMouseDown</a><span class="parameters">(</span>evt) <span></span><span title="TODO" class="jsdoc-extension"></span>
    </li>
    <li class="functionIcon private"><a href="#1_8dojox_layout_ToggleSplitter__onToggleNodeMouseMove" class="inline-link"> _onToggleNodeMouseMove</a><span class="parameters">(</span>evt) <span></span><span title="TODO" class="jsdoc-extension"></span>
    </li>
    <li class="functionIcon "><a href="#1_8dojox_layout_ToggleSplitter_onClosed" class="inline-link"> onClosed</a><span class="parameters">(</span>pane) <span></span><span title="TODO" class="jsdoc-extension"></span>
    </li>
    <li class="functionIcon "><a href="#1_8dojox_layout_ToggleSplitter_onCollapsed" class="inline-link"> onCollapsed</a><span class="parameters">(</span>pane) <span></span><span title="TODO" class="jsdoc-extension"></span>
    </li>
    <li class="functionIcon "><a href="#1_8dojox_layout_ToggleSplitter_onOpen" class="inline-link"> onOpen</a><span class="parameters">(</span>pane) <span></span><span title="TODO" class="jsdoc-extension"></span>
    </li>
  </ul>
</div>
<div class="jsdoc-children">
  <div class="jsdoc-fields">
    <h2>Properties</h2>
    <div class="jsdoc-property-list">
      <div class="jsdoc-field private">
        <div class="jsdoc-title"><a name="1_8dojox_layout_ToggleSplitter__closedSize"></a><span class="stringIcon">_closedSize</span><span title="private" class="jsdoc-private"> </span>
        </div>
        <div class="jsdoc-inheritance">Defined by: <a href="/api/1.8/dojox/layout/ToggleSplitter" class="jsdoc-link">dojox/layout/ToggleSplitter</a>
        </div>
        <div class="jsdoc-summary"><p>the css height/width value to apply by default when the attached pane is closed</p>
</div>
      </div>
      <div class="jsdoc-field public">
        <div class="jsdoc-title"><a name="1_8dojox_layout_ToggleSplitter_baseClass"></a><span class="stringIcon">baseClass</span>
        </div>
        <div class="jsdoc-inheritance">Defined by: <a href="/api/1.8/dojox/layout/ToggleSplitter" class="jsdoc-link">dojox/layout/ToggleSplitter</a>
        </div>
      </div>
      <div class="jsdoc-field public">
        <div class="jsdoc-title"><a name="1_8dojox_layout_ToggleSplitter_child"></a><span class="objectIcon">child</span>
        </div>
        <div class="jsdoc-inheritance">Defined by: <a href="/api/1.8/dojox/layout/ToggleSplitter" class="jsdoc-link">dojox/layout/ToggleSplitter</a>
        </div>
        <div class="jsdoc-summary"><p>Pointer to the pane associated with this splitter</p>
</div>
      </div>
      <div class="jsdoc-field public">
        <div class="jsdoc-title"><a name="1_8dojox_layout_ToggleSplitter_container"></a><span class="objectIcon">container</span>
        </div>
        <div class="jsdoc-inheritance">Defined by: <a href="/api/1.8/dojox/layout/ToggleSplitter" class="jsdoc-link">dojox/layout/ToggleSplitter</a>
        </div>
        <div class="jsdoc-summary"><p>Pointer to the parent BorderContainer</p>
</div>
      </div>
      <div class="jsdoc-field public">
        <div class="jsdoc-title"><a name="1_8dojox_layout_ToggleSplitter_region"></a><span class="stringIcon">region</span>
        </div>
        <div class="jsdoc-inheritance">Defined by: <a href="/api/1.8/dojox/layout/ToggleSplitter" class="jsdoc-link">dojox/layout/ToggleSplitter</a>
        </div>
        <div class="jsdoc-summary"><p>Region of pane associated with this splitter.
&quot;top&quot;, &quot;bottom&quot;, &quot;left&quot;, &quot;right&quot;.</p>
</div>
      </div>
      <div class="jsdoc-field public">
        <div class="jsdoc-title"><a name="1_8dojox_layout_ToggleSplitter_state"></a><span class="stringIcon">state</span>
        </div>
        <div class="jsdoc-inheritance">Defined by: <a href="/api/1.8/dojox/layout/ToggleSplitter" class="jsdoc-link">dojox/layout/ToggleSplitter</a>
        </div>
        <div class="jsdoc-summary"><p>the initial and current state of the splitter (and its attached pane)
It has three values: full, collapsed (optional), closed</p>
</div>
      </div>
      <div class="jsdoc-field public">
        <div class="jsdoc-title"><a name="1_8dojox_layout_ToggleSplitter_templateString"></a><span class="stringIcon">templateString</span>
        </div>
        <div class="jsdoc-inheritance">Defined by: <a href="/api/1.8/dojox/layout/ToggleSplitter" class="jsdoc-link">dojox/layout/ToggleSplitter</a>
        </div>
      </div>
    </div>
    <h2>Methods</h2>
    <div class="jsdoc-property-list">
      <div class="jsdoc-field private">
        <div class="jsdoc-title"><a name="1_8dojox_layout_ToggleSplitter__getStyleProps"></a><span class="functionIcon">_getStyleProps</span><span class="parameters">(paneNode, state, paneStyle)</span> <span title="private" class="jsdoc-private"> </span>
        </div>
        <div class="jsdoc-inheritance TODO">Defined by <a href="/api/1.8/dojox/layout/ToggleSplitter" class="jsdoc-link">dojox/layout/ToggleSplitter</a>
        </div>
        <div class="jsdoc-full-summary"><p>Create an object with the style property name: values
that will need to be applied to the child pane render the given state</p>
</div>
        <table class="jsdoc-parameters">
          <tr>
            <th>Parameter</th>
            <th>Type</th>
            <th>Description</th>
          </tr>
          <tr>
            <td class="jsdoc-param-name">paneNode</td>
            <td class="jsdoc-param-type">undefined</td>
            <td class="jsdoc-param-description">
            </td>
          </tr>
          <tr>
            <td class="jsdoc-param-name">state</td>
            <td class="jsdoc-param-type">undefined</td>
            <td class="jsdoc-param-description">
            </td>
          </tr>
          <tr>
            <td class="jsdoc-param-name">paneStyle</td>
            <td class="jsdoc-param-type">undefined</td>
            <td class="jsdoc-param-description">
            </td>
          </tr>
        </table>
        <div><strong>Returns: </strong><span class="jsdoc-return-type">object</span></div>
      </div>
      <div class="jsdoc-field private">
        <div class="jsdoc-title"><a name="1_8dojox_layout_ToggleSplitter__handleOnChange"></a><span class="functionIcon">_handleOnChange</span><span class="parameters">(preState)</span> <span title="private" class="jsdoc-private"> </span>
        </div>
        <div class="jsdoc-inheritance TODO">Defined by <a href="/api/1.8/dojox/layout/ToggleSplitter" class="jsdoc-link">dojox/layout/ToggleSplitter</a>
        </div>
        <div class="jsdoc-full-summary"><p>Effect the state change with the new value of this.state</p>
</div>
        <table class="jsdoc-parameters">
          <tr>
            <th>Parameter</th>
            <th>Type</th>
            <th>Description</th>
          </tr>
          <tr>
            <td class="jsdoc-param-name">preState</td>
            <td class="jsdoc-param-type">undefined</td>
            <td class="jsdoc-param-description">
            </td>
          </tr>
        </table>
      </div>
      <div class="jsdoc-field private">
        <div class="jsdoc-title"><a name="1_8dojox_layout_ToggleSplitter__setStateAttr"></a><span class="functionIcon">_setStateAttr</span><span class="parameters">(state)</span> <span title="private" class="jsdoc-private"> </span>
        </div>
        <div class="jsdoc-inheritance TODO">Defined by <a href="/api/1.8/dojox/layout/ToggleSplitter" class="jsdoc-link">dojox/layout/ToggleSplitter</a>
        </div>
        <div class="jsdoc-full-summary"><p>setter for the state property</p>
</div>
        <table class="jsdoc-parameters">
          <tr>
            <th>Parameter</th>
            <th>Type</th>
            <th>Description</th>
          </tr>
          <tr>
            <td class="jsdoc-param-name">state</td>
            <td class="jsdoc-param-type">String</td>
            <td class="jsdoc-param-description">
            </td>
          </tr>
        </table>
      </div>
      <div class="jsdoc-field private">
        <div class="jsdoc-title"><a name="1_8dojox_layout_ToggleSplitter__setStateClass"></a><span class="functionIcon">_setStateClass</span><span class="parameters">()</span> <span title="private" class="jsdoc-private"> </span>
        </div>
        <div class="jsdoc-inheritance TODO">Defined by <a href="/api/1.8/dojox/layout/ToggleSplitter" class="jsdoc-link">dojox/layout/ToggleSplitter</a>
        </div>
        <div class="jsdoc-full-summary"><p>Apply the appropriate classes for the current open state</p>
</div>
      </div>
      <div class="jsdoc-field private">
        <div class="jsdoc-title"><a name="1_8dojox_layout_ToggleSplitter__startDrag"></a><span class="functionIcon">_startDrag</span><span class="parameters">(e)</span> <span title="private" class="jsdoc-private"> </span>
        </div>
        <div class="jsdoc-inheritance TODO">Defined by <a href="/api/1.8/dojox/layout/ToggleSplitter" class="jsdoc-link">dojox/layout/ToggleSplitter</a>
        </div>
        <div class="jsdoc-full-summary"></div>
        <table class="jsdoc-parameters">
          <tr>
            <th>Parameter</th>
            <th>Type</th>
            <th>Description</th>
          </tr>
          <tr>
            <td class="jsdoc-param-name">e</td>
            <td class="jsdoc-param-type">undefined</td>
            <td class="jsdoc-param-description">
            </td>
          </tr>
        </table>
      </div>
      <div class="jsdoc-field private">
        <div class="jsdoc-title"><a name="1_8dojox_layout_ToggleSplitter__stopDrag"></a><span class="functionIcon">_stopDrag</span><span class="parameters">(e)</span> <span title="private" class="jsdoc-private"> </span>
        </div>
        <div class="jsdoc-inheritance TODO">Defined by <a href="/api/1.8/dojox/layout/ToggleSplitter" class="jsdoc-link">dojox/layout/ToggleSplitter</a>
        </div>
        <div class="jsdoc-full-summary"></div>
        <table class="jsdoc-parameters">
          <tr>
            <th>Parameter</th>
            <th>Type</th>
            <th>Description</th>
          </tr>
          <tr>
            <td class="jsdoc-param-name">e</td>
            <td class="jsdoc-param-type">undefined</td>
            <td class="jsdoc-param-description">
            </td>
          </tr>
        </table>
      </div>
      <div class="jsdoc-field private">
        <div class="jsdoc-title"><a name="1_8dojox_layout_ToggleSplitter__toggle"></a><span class="functionIcon">_toggle</span><span class="parameters">(evt)</span> <span title="private" class="jsdoc-private"> </span>
        </div>
        <div class="jsdoc-inheritance TODO">Defined by <a href="/api/1.8/dojox/layout/ToggleSplitter" class="jsdoc-link">dojox/layout/ToggleSplitter</a>
        </div>
        <div class="jsdoc-full-summary"></div>
        <table class="jsdoc-parameters">
          <tr>
            <th>Parameter</th>
            <th>Type</th>
            <th>Description</th>
          </tr>
          <tr>
            <td class="jsdoc-param-name">evt</td>
            <td class="jsdoc-param-type">undefined</td>
            <td class="jsdoc-param-description">
            </td>
          </tr>
        </table>
      </div>
      <div class="jsdoc-field">
        <div class="jsdoc-title"><a name="1_8dojox_layout_ToggleSplitter_postCreate"></a><span class="functionIcon">postCreate</span><span class="parameters">()</span> 
        </div>
        <div class="jsdoc-inheritance TODO">Defined by <a href="/api/1.8/dojox/layout/ToggleSplitter" class="jsdoc-link">dojox/layout/ToggleSplitter</a>
        </div>
        <div class="jsdoc-full-summary"></div>
      </div>
      <div class="jsdoc-field">
        <div class="jsdoc-title"><a name="1_8dojox_layout_ToggleSplitter_startup"></a><span class="functionIcon">startup</span><span class="parameters">()</span> 
        </div>
        <div class="jsdoc-inheritance TODO">Defined by <a href="/api/1.8/dojox/layout/ToggleSplitter" class="jsdoc-link">dojox/layout/ToggleSplitter</a>
        </div>
        <div class="jsdoc-full-summary"></div>
        <div><strong>Returns: </strong><span class="jsdoc-return-type">function</span></div>
      </div>
    </div>
    <h2>Events</h2>
    <div class="jsdoc-property-list">
      <div class="jsdoc-field private">
        <div class="jsdoc-title"><a name="1_8dojox_layout_ToggleSplitter__onKeyPress"></a><span class="functionIcon">_onKeyPress</span><span class="parameters">(evt)</span>
        </div>
        <div class="jsdoc-inheritance TODO">Defined by: <a href="/api/1.8/dojox/layout/ToggleSplitter" class="jsdoc-link">dojox/layout/ToggleSplitter</a><span title="inherited" class="jsdoc-inherited TODO">      </span></div>
      </div>
      <div class="jsdoc-field private">
        <div class="jsdoc-title"><a name="1_8dojox_layout_ToggleSplitter__onToggleNodeMouseDown"></a><span class="functionIcon">_onToggleNodeMouseDown</span><span class="parameters">(evt)</span>
        </div>
        <div class="jsdoc-inheritance TODO">Defined by: <a href="/api/1.8/dojox/layout/ToggleSplitter" class="jsdoc-link">dojox/layout/ToggleSplitter</a><span title="inherited" class="jsdoc-inherited TODO">      </span></div>
      </div>
      <div class="jsdoc-field private">
        <div class="jsdoc-title"><a name="1_8dojox_layout_ToggleSplitter__onToggleNodeMouseMove"></a><span class="functionIcon">_onToggleNodeMouseMove</span><span class="parameters">(evt)</span>
        </div>
        <div class="jsdoc-inheritance TODO">Defined by: <a href="/api/1.8/dojox/layout/ToggleSplitter" class="jsdoc-link">dojox/layout/ToggleSplitter</a><span title="inherited" class="jsdoc-inherited TODO">      </span></div>
      </div>
      <div class="jsdoc-field">
        <div class="jsdoc-title"><a name="1_8dojox_layout_ToggleSplitter_onClosed"></a><span class="functionIcon">onClosed</span><span class="parameters">(pane)</span>
        </div>
        <div class="jsdoc-inheritance TODO">Defined by: <a href="/api/1.8/dojox/layout/ToggleSplitter" class="jsdoc-link">dojox/layout/ToggleSplitter</a><span title="inherited" class="jsdoc-inherited TODO">      </span></div>
      </div>
      <div class="jsdoc-field">
        <div class="jsdoc-title"><a name="1_8dojox_layout_ToggleSplitter_onCollapsed"></a><span class="functionIcon">onCollapsed</span><span class="parameters">(pane)</span>
        </div>
        <div class="jsdoc-inheritance TODO">Defined by: <a href="/api/1.8/dojox/layout/ToggleSplitter" class="jsdoc-link">dojox/layout/ToggleSplitter</a><span title="inherited" class="jsdoc-inherited TODO">      </span></div>
      </div>
      <div class="jsdoc-field">
        <div class="jsdoc-title"><a name="1_8dojox_layout_ToggleSplitter_onOpen"></a><span class="functionIcon">onOpen</span><span class="parameters">(pane)</span>
        </div>
        <div class="jsdoc-inheritance TODO">Defined by: <a href="/api/1.8/dojox/layout/ToggleSplitter" class="jsdoc-link">dojox/layout/ToggleSplitter</a><span title="inherited" class="jsdoc-inherited TODO">      </span></div>
      </div>
    </div>
  </div>
</div>