
<div style="display:none" class="jsdoc-permalink">/api/1.8/dijit/layout/BorderContainer.ChildWidgetProperties</div>
<h1 class="objectIcon36 jsdoc-title">dijit/layout/BorderContainer.ChildWidgetProperties<span style="font-size:11px;color:#999;"> (version 1.8)</span></h1>
<div class="jsdoc-full-summary"><p>These properties can be specified for the children of a BorderContainer.</p>
</div>
<p>See the <a href="/reference-guide/1.8/dijit/layout.html" target="_blank">dijit/layout/BorderContainer.ChildWidgetProperties reference documentation</a> for more information.</p>
<div class="jsdoc-children">
  <div class="jsdoc-fieldlist"></div>
</div>
<h2 class="jsdoc-summary-heading">Property Summary<span class="jsdoc-summary-toggle"></span></h2>
<div class="jsdoc-summary-list">
  <ul class="jsdoc-property-list">
    <li class="numberIcon inherited"><a href="#1_8dijit_layout_BorderContainer_ChildWidgetProperties_layoutPriority" class="inline-link"> layoutPriority </a><span>Children with a higher layoutPriority will be placed closer to the BorderContainer center,
between children with a lower layoutPriority.</span><span title="inherited from dijit/layout/BorderContainer" class="jsdoc-inherited"></span>
    </li>
    <li class="numberIcon inherited"><a href="#1_8dijit_layout_BorderContainer_ChildWidgetProperties_maxSize" class="inline-link"> maxSize </a><span>Specifies a maximum size (in pixels) for this widget when resized by a splitter.</span><span title="inherited from dijit/layout/BorderContainer" class="jsdoc-inherited"></span>
    </li>
    <li class="numberIcon inherited"><a href="#1_8dijit_layout_BorderContainer_ChildWidgetProperties_minSize" class="inline-link"> minSize </a><span>Specifies a minimum size (in pixels) for this widget when resized by a splitter.</span><span title="inherited from dijit/layout/BorderContainer" class="jsdoc-inherited"></span>
    </li>
    <li class="stringIcon inherited"><a href="#1_8dijit_layout_BorderContainer_ChildWidgetProperties_region" class="inline-link"> region </a><span>Values: &quot;top&quot;, &quot;bottom&quot;, &quot;leading&quot;, &quot;trailing&quot;, &quot;left&quot;, &quot;right&quot;, &quot;center&quot;.</span><span title="inherited from dijit/layout/BorderContainer" class="jsdoc-inherited"></span>
    </li>
    <li class="booleanIcon inherited"><a href="#1_8dijit_layout_BorderContainer_ChildWidgetProperties_splitter" class="inline-link"> splitter </a><span>Parameter for children where region != &quot;center&quot;.</span><span title="inherited from dijit/layout/BorderContainer" class="jsdoc-inherited"></span>
    </li>
  </ul>
</div>
<div class="jsdoc-children">
  <div class="jsdoc-fields">
    <h2>Properties</h2>
    <div class="jsdoc-property-list">
      <div class="jsdoc-field public">
        <div class="jsdoc-title"><a name="1_8dijit_layout_BorderContainer_ChildWidgetProperties_layoutPriority"></a><span class="numberIcon">layoutPriority</span>
        </div>
        <div class="jsdoc-inheritance">Defined by: <a href="/api/1.8/dijit/layout/BorderContainer" class="jsdoc-link">dijit/layout/BorderContainer</a><span title="inherited" class="jsdoc-inherited"></span>
        </div>
        <div class="jsdoc-summary"><p>Children with a higher layoutPriority will be placed closer to the BorderContainer center,
between children with a lower layoutPriority.</p>
</div>
      </div>
      <div class="jsdoc-field public">
        <div class="jsdoc-title"><a name="1_8dijit_layout_BorderContainer_ChildWidgetProperties_maxSize"></a><span class="numberIcon">maxSize</span>
        </div>
        <div class="jsdoc-inheritance">Defined by: <a href="/api/1.8/dijit/layout/BorderContainer" class="jsdoc-link">dijit/layout/BorderContainer</a><span title="inherited" class="jsdoc-inherited"></span>
        </div>
        <div class="jsdoc-summary"><p>Specifies a maximum size (in pixels) for this widget when resized by a splitter.</p>
</div>
      </div>
      <div class="jsdoc-field public">
        <div class="jsdoc-title"><a name="1_8dijit_layout_BorderContainer_ChildWidgetProperties_minSize"></a><span class="numberIcon">minSize</span>
        </div>
        <div class="jsdoc-inheritance">Defined by: <a href="/api/1.8/dijit/layout/BorderContainer" class="jsdoc-link">dijit/layout/BorderContainer</a><span title="inherited" class="jsdoc-inherited"></span>
        </div>
        <div class="jsdoc-summary"><p>Specifies a minimum size (in pixels) for this widget when resized by a splitter.</p>
</div>
      </div>
      <div class="jsdoc-field public">
        <div class="jsdoc-title"><a name="1_8dijit_layout_BorderContainer_ChildWidgetProperties_region"></a><span class="stringIcon">region</span>
        </div>
        <div class="jsdoc-inheritance">Defined by: <a href="/api/1.8/dijit/layout/BorderContainer" class="jsdoc-link">dijit/layout/BorderContainer</a><span title="inherited" class="jsdoc-inherited"></span>
        </div>
        <div class="jsdoc-summary"><p>Values: &quot;top&quot;, &quot;bottom&quot;, &quot;leading&quot;, &quot;trailing&quot;, &quot;left&quot;, &quot;right&quot;, &quot;center&quot;.
See the <a class="jsdoc-link" href="/api/1.8/dijit/layout/BorderContainer">dijit/layout/BorderContainer</a> description for details.</p>
</div>
      </div>
      <div class="jsdoc-field public">
        <div class="jsdoc-title"><a name="1_8dijit_layout_BorderContainer_ChildWidgetProperties_splitter"></a><span class="booleanIcon">splitter</span>
        </div>
        <div class="jsdoc-inheritance">Defined by: <a href="/api/1.8/dijit/layout/BorderContainer" class="jsdoc-link">dijit/layout/BorderContainer</a><span title="inherited" class="jsdoc-inherited"></span>
        </div>
        <div class="jsdoc-summary"><p>Parameter for children where region != &quot;center&quot;.
If true, enables user to resize the widget by putting a draggable splitter between
this widget and the region=center widget.</p>
</div>
      </div>
    </div>
  </div>
</div>