
<div style="display:none" class="jsdoc-permalink">/api/1.8/dijit/layout/SplitContainer.ChildWidgetProperties</div>
<h1 class="objectIcon36 jsdoc-title">dijit/layout/SplitContainer.ChildWidgetProperties<span style="font-size:11px;color:#999;"> (version 1.8)</span></h1>
<div class="jsdoc-full-summary"><p>These properties can be specified for the children of a SplitContainer.</p>
</div>
<p>See the <a href="/reference-guide/1.8/dijit/layout.html" target="_blank">dijit/layout/SplitContainer.ChildWidgetProperties reference documentation</a> for more information.</p>
<div class="jsdoc-children">
  <div class="jsdoc-fieldlist"></div>
</div>
<h2 class="jsdoc-summary-heading">Property Summary<span class="jsdoc-summary-toggle"></span></h2>
<div class="jsdoc-summary-list">
  <ul class="jsdoc-property-list">
    <li class="numberIcon inherited"><a href="#1_8dijit_layout_SplitContainer_ChildWidgetProperties_sizeMin" class="inline-link"> sizeMin </a><span>Minimum size (width or height) of a child of a SplitContainer.</span><span title="inherited from dijit/layout/SplitContainer" class="jsdoc-inherited"></span>
    </li>
    <li class="numberIcon inherited"><a href="#1_8dijit_layout_SplitContainer_ChildWidgetProperties_sizeShare" class="inline-link"> sizeShare </a><span>Size (width or height) of a child of a SplitContainer.</span><span title="inherited from dijit/layout/SplitContainer" class="jsdoc-inherited"></span>
    </li>
  </ul>
</div>
<div class="jsdoc-children">
  <div class="jsdoc-fields">
    <h2>Properties</h2>
    <div class="jsdoc-property-list">
      <div class="jsdoc-field public">
        <div class="jsdoc-title"><a name="1_8dijit_layout_SplitContainer_ChildWidgetProperties_sizeMin"></a><span class="numberIcon">sizeMin</span>
        </div>
        <div class="jsdoc-inheritance">Defined by: <a href="/api/1.8/dijit/layout/SplitContainer" class="jsdoc-link">dijit/layout/SplitContainer</a><span title="inherited" class="jsdoc-inherited"></span>
        </div>
        <div class="jsdoc-summary"><p>Minimum size (width or height) of a child of a SplitContainer.
The value is relative to other children&#39;s sizeShare properties.</p>
</div>
      </div>
      <div class="jsdoc-field public">
        <div class="jsdoc-title"><a name="1_8dijit_layout_SplitContainer_ChildWidgetProperties_sizeShare"></a><span class="numberIcon">sizeShare</span>
        </div>
        <div class="jsdoc-inheritance">Defined by: <a href="/api/1.8/dijit/layout/SplitContainer" class="jsdoc-link">dijit/layout/SplitContainer</a><span title="inherited" class="jsdoc-inherited"></span>
        </div>
        <div class="jsdoc-summary"><p>Size (width or height) of a child of a SplitContainer.
The value is relative to other children&#39;s sizeShare properties.
For example, if there are two children and each has sizeShare=10, then
each takes up 50% of the available space.</p>
</div>
      </div>
    </div>
  </div>
</div>